MONGODB_URI=mongodb+srv://adityasinha1493_db_user:pwFxORgq2eayQCPf@treko-cluster.cluiuds.mongodb.net/?appName=treko-cluster
JWT_SECRET=597a1be0943723496d124e3fcaf15afa49ad91583fa6daa865cb1a745518b691
PORT=5000
VITE_API_URL=http://localhost:5000
